<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hakaru</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/expenses">Expense</a>
                <a class="nav-link" href="/recipes/recipeHome">Recipe</a>
                <a class="nav-link" href="/stocks/stockHome">Stock</a>
                <a class="nav-link" href="/incomeStatements/soldInfor">Sold Information</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (user) { %>  <!-- ユーザーがログインしているかチェック -->
                    <a class="nav-link" href="#">Welcome, <%= user.username %></a>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } else { %>  <!-- ユーザーがログインしていない場合 -->
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register User</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
