<div class="container mt-4">
    <h1 class="text-center">Registered Recipes</h1>

    <div class="row">
        <% recipes.forEach(function(recipe) { %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><%= recipe.recipeName %></h5>
                        <p class="card-text">
                            Items:
                            <ul>
                                <% recipe.items.forEach(function(item) { %>
                                    <li><%= item.itemName %>: <%= item.content %></li>
                                <% }) %>
                            </ul>
                        </p>
                        <a href="/recipes/edit/<%= recipe._id %>" class="btn btn-primary">Edit Recipe</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
