<% layout('layout/boilerplate') %>

<div class="container mt-4">
    <h1 class="text-center">Recipes</h1>
    <div class="mb-3 mt-3 d-flex justify-content-center">
        <a href="/recipes/recipeRegister" class="btn btn-success m-1">Register Recipe</a>
    </div>
</div>
