<% layout('layout/boilerplate') %>


<div class="container mt-4">
    <h1 class="text-center">Registered Recipes</h1>

    <div class="row mt-3">
        <% recipes.forEach(function(recipe) { %>
            <div class="col-md-2">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= recipe.recipeName %></h5>
                        <a href="/recipes/edit/<%= recipe._id %>" class="btn btn-primary">Edit Recipe</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
